numpy>=1.23
pandas>=2.0
xarray>=2023.12.0
netcdf4>=1.6
scipy>=1.10

# Plotting
matplotlib>=3.7

# Testing
pytest>=8.0

# AMOC analysis tools
PyYAML>=6.0
requests>=2.31
jinja2>=3.1
git+https://github.com/amoccommunity/amocatlas.git
